html {
    border-radius: 4dip;
    background: transparent;
}

body {
    background: #333333;
    color: #F0F0F0;
    padding: 0;
    margin: 0;
    border-radius: 4dip;
}

header {
    flow: horizontal;
    padding: 0 0 0 4dip;
    background:rgb(76, 113, 214);
    vertical-align: middle;
}

header > caption {
    width: *;
    height: *;
    vertical-align: middle;
}

header > button {
    width: 32dip;
    height: 32dip;
    padding: 0;// 必须指定为0，否则按钮是长方形的
    border-radius: 2dip;

    background-size: 24dip;
    background-position: center;
    background-image: url(../../icons/window_close.svg);
    background-repeat: no-repeat;
}

header > button:hover {
    background-color: red;
}
